@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto:400,700');

@font-face {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lobster', cursive;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lobster', cursive;
    font-weight: 400;
    font-style: normal;
}