<!--<div id="dropdown-menu">-->
<!--&lt;!&ndash; menu using flex column &ndash;&gt;-->
<!--<div class="menu-login">-->
<!--<form id="form" method="POST" action="{% url 'web:login' %}">-->
<!--{% if messages %}-->
<!--<div class="messages-login">-->
<!--{% for message in messages %}-->
<!--<span {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>-->
<!--{% endfor %}-->
<!--</div>-->
<!--{% endif %}-->
<!--{% csrf_token %}-->
<!--{{ login_form }}-->
<!--<button id="submit" type="submit" class="btn-login" value="Submit"> Sign in </button>-->
<!--</form>-->
<!--<button></button>-->
<!--</div>-->
</div>